rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    match /players/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /player-of-month/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /tournaments/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /teams/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
