@import "tailwindcss";

@theme {
  --color-cricket-green: #b8860b;
  --color-cricket-dark: #050505;
  --color-cricket-gold: #d4af37;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-cricket-dark text-white font-sans;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
